<% @links.each do |link| %>
  <% if current_user %>
    <% if link.visible.include?(current_user.email) %>
      <div class="link row clearfix">
        <h2>
          <%= link_to link.title, link %><br>
          <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %></small>
        </h2>

        <div class="btn-group">
          <!-- <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a> -->
          <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-up"></span>
            Upvote
            <%= link.get_upvotes.size %>
          <% end %>
          <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-down">
            Downvote
            <%= link.get_downvotes.size %>
          <% end %>
        </div>
      </div>
    <% elsif link.user_id == current_user.id %>
    <div class="link row clearfix">
      <h2>
        <%= link_to link.title, link %><br>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %></small>
      </h2>

      <div class="btn-group">
        <!-- <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a> -->
        <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          Upvote
          <%= link.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down">
          Downvote
          <%= link.get_downvotes.size %>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>
<br><br>
<a href = "http://updates.bookmyshow.com/re?l=D0ItsbgcbI8cem35rI17Iqglk1a" target="_blank"><img src="https://github.com/vedipen/forum/blob/master/img/1.png?raw=true"></img></a>
<a href = "http://fapp1.olacabs.com/linktrack/lt.pl?id=24897=dUsCVQEMCFsFTgIJAgIHBwJWVR4=QFYHWxZRD3IEXgMLWhlRCl5EAVYLBAQJAwIHBQNWVVUBAlQ=&fl=XkNGFQkXHwNWHFNJQVNbVkBIBg1bHAJCDxsXA0xSBg==&ext=cmU9MCZzdD0yNjU0MjU0MzA4MDMmaD1jYzk2NWM5NmVlYzlmMDFlZGZlYzlkNWViMzI0ZGM5NGU4ZDAwODdl" target="_blank"><img style="margin-left:150px" src="https://github.com/vedipen/forum/blob/master/img/2.png?raw=true"></img></a>
<a href = "http://trackemail.zomato.com/wf/click?upn=WVgYtfW5OqJ99icZ8pNUdv8Js-2FOvvdbdTX6WZrWXwvmzZnHz9YzTFzMrF5ZXmjqrJD0zm2zt2YpGXiWcEmXLPKNSznLtuI-2BJ6FOAKiRErmixE6aG-2FvF8ichO9ekmH3BGBGDQt41jOpuB-2FnrM5J7EmgS-2BocKjKhyC76lOKsnX86bdmfp-2FPBmKZ3S7FHYCFZ9V8nKX1GqUytNZBMIO2Ab8JZb1-2BbUQez-2FvmbGRquKMFDUdlCI6EDU8ztkjsJ95Jh11092T8fAo0iUnDAGOUuoueIcbAv-2BDdZc6ai35nh6z06QAAEc3BRPj0bQkMSGHvvAEf-2BQSweFS4eOTnYwU7Fi-2Bxa-2FniBIxASOBGu7ku7nC9AsFJ58-2BEfQWyY-2F6qOem9D0IlrC-2FURLHAiCoKWPUcTfTtWOmtr3FABIym8egrCV4kFjDngPuw1bAB50PDfd0MRvC5XICUdtAXmAXOeIYa-2B2PXEiAYmcitctQigtDEP4MZWGlzKRl7-2FKvlrcmQ-2B-2BQEKbRctQV-2FPSbpOKczBJUiZGnKeGwmYGmLEHBdLJOtuixz-2BpZOPj4rg5cpjyL49pG5fq-2B2N6iFpXuz-2FXE3WDHj9L9akEPFoSp55XkG9VWf9ooT-2FwOzG7xU-2BQ4380ZqRMA-2B09K_MDt-2B-2BM5-2B9oZXklgc6mvo3sCutkI1KKoSbExINGEjK9RZnBdN3NkMZo-2FGr2MDqVK8UWlbeL2LfctRoAiaoJhDecAGKqrs4yUMqdJJxRlvAbf8s5ZuUaObTkgIWZ2WamLE8ZoljGWtSlLx2UvNyD-2Fn3I5khcF11N3zpFBhh62APjZ-2BewPrhEpl3a1LjN-2BtmPFLmLkOQpWP46For0YHtVESFRmiZhvP2ox4k7VGjGdUhIY9xcpTTcswNNCkGGL7Q3GQ" target="_blank"><img style="margin-left:150px" src="https://github.com/vedipen/forum/blob/master/img/3.png?raw=true"></img></a>
